<!doctype html>
<html>
<head>
    <title>Behavior Logging Service</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/font-awesome.min.css">
    <style>
        body {
            word-wrap: break-word;
        }

        .axis .domain {
            display: none;
        }

        .requiredField {
            color: red;
        }

        #start_date_container, #end_date_container {
            padding-left: 50px;
        }

        #update_graphs {
            margin-top: 23px;
        }

        .bar:hover {
            fill: orangered ;
        }

        .bubble:hover {
            fill: orangered ;
        }

        .d3-tip {
            line-height: 1;
            font-weight: bold;
            padding: 12px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            border-radius: 2px;
        }

        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
        }

        .d3-tip.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
        }
    </style>
    <script type='text/javascript' src='/d3/d3.min.js'></script>
    <script type='text/javascript' src='/d3-tip/index.js'></script>
    <script type='text/javascript' src='/jquery/jquery.min.js'></script>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-eye"></span> Behavior Logging Service</h1>
        <h1><span class="fa fa-anchor"></span> Data Visualization</h1>
        <div class="row">
            <div class="col-xs-6">
                <a href="/profile" class="btn btn-primary">Profile</a>
            </div>
            <div class="col-xs-6">
                <a href="/logout" class="btn btn-warning btn-sm">Logout</a>
            </div>
        </div>
    </div>

    <div class="text-center"><strong>Select Dates, User to visualize and compare actions performed in the selected date range.</strong></div>
    <br>

    <div class="alert alert-danger text-center" role="alert" hidden="true">
        <strong>Oh snap!</strong> Please fill in all required fields and try again.
    </div>

    <div class="row">
        <div class="col-xs-3" id="start_date_container">
            <label for="start_date">Start Date <span class="requiredField">*</span></label>
            <div class="form-group row">
                <div class="col-xs-10">
                    <input type="date" id="start_date" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-xs-3" id="end_date_container">
            <label for="end_date">End Date <span class="requiredField">*</span></label>
            <div class="form-group row">
                <div class="col-xs-10">
                    <input type="date" id="end_date" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-xs-3" id="user_selection_container">
            <label for="user_selection">Select User <span class="requiredField">*</span></label>
            <div class="form-group row">
                <div class="col-xs-8">
                    <select id="user_selection" class="form-control">
                        <option selected>Choose...</option>
                        <%  currentUser = user;
                            users.forEach(function(user) {
                                var email = user.local.email;
                                if (email && (email != currentUser.local.email)) {
                                    %> <option value= <%= email %> ><%= email %></option>
                                <% }
                            });
                        %>
                        <option value="allUsers">All Users</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-primary" id="update_graphs">Update Graphs</a>
        </div>
    </div>

    <div class="well">
        <div id="bar_chart"></div>
        <br>
        <p class="text-center" id="bar_text"></p>
    </div>
    <div class="well" >
        <div id="bubble_chart"></div>
        <p class="text-center" id="bubble_text"></p>
    </div>

    <script>
        var user = <%- JSON.stringify(user) %>;
        var users = <%- JSON.stringify(users) %>;

        var stopWords = null;
        function processData(data) {
            stopWords = new Set(data.split(","));
        }

        function handleResponse() {
            if(this.status == 200 && this.response != null) {
                processData(this.response);
            }
        }

        var fileReader = new XMLHttpRequest();
        fileReader.onload = handleResponse;
        fileReader.open("GET", "/stop_words.txt");
        fileReader.send();

        $(document).ready(function() {
            var startDate = null;
            var endDate = null;
            var userSelected = null;

            $("#update_graphs").click(function() {
                startDate = new Date($("#start_date").val());
                startDate.setTime(startDate.getTime() + startDate.getTimezoneOffset() * 60 * 1000);
                endDate = new Date($("#end_date").val());
                endDate.setTime(endDate.getTime() + endDate.getTimezoneOffset() * 60 * 1000);
                userSelected = $("#user_selection").val();

                if (startDate == "Invalid Date" || endDate == "Invalid Date" || userSelected == "Choose...") {
                    $(".alert").attr("hidden", false);
                    return;
                }

                $(".alert").attr("hidden", true);

                var actionTags = ["question_click", "star", "share_question", "upvote_on_question", "downvote_on_question",
                                  "share_answer", "upvote_on_answer", "downvote_on_answer", "tag_click"];

                var actionStrings = ["Quest Clicks", "Quest Stars", "Quest Shares", "Quest Upvotes", "Quest Downvotes",
                                    "Ans Shares", "Ans Upvotes", "Ans Downvotes", "Tags Clicks"];

                var filteredActions = user.local.actionData.filter(function(item) {
                    var itemDate = new Date(item.date);
                    return (startDate <= itemDate && itemDate <= endDate);
                });

                var userActionCount = actionTags.map(function(tag) {
                    return getActionCount(filteredActions, tag);
                });

                var compActionCount = getUserActionCount(startDate, endDate, userSelected, actionTags);

                var barData = "Action,Current user," + getUserName(userSelected);
                for (var i = 0; i < actionTags.length; i++) {
                    barData += "\n" + actionStrings[i] + "," + userActionCount[i] + "," + compActionCount[i];
                }

                var wordDict = {};

                getActions(filteredActions, "tag_click").forEach(function(item) {
                    var arr = item.content.split("/");
                    var tag = arr[arr.length - 1];
                    if (tag in wordDict) {
                        wordDict[tag] += 1;
                    } else {
                        wordDict[tag] = 1;
                    }
                });

                new Set(getActions(filteredActions, "scroll").map(function(item) {
                    return item.content;
                })).forEach(function(question) {
                    var arr = question.split("/");
                    arr[arr.length - 1].split("-").filter(function(word) {
                        return !stopWords.has(word);
                    }).forEach(function(tag) {
                        if (tag in wordDict) {
                            wordDict[tag] += 1;
                        } else {
                            wordDict[tag] = 1;
                        }
                    });
                });

                var bubbleData = "id,value";
                for (var word in wordDict) {
                    if (wordDict[word] > 1) {
                        bubbleData += "\n" + word + "," + wordDict[word];
                    }
                }

                displayBarChart(barData);
                $("#bar_text").text("The above chart shows various actions performed by the current user relative to the selected user for the given date range.");

                displayBubbleChart(bubbleData);
                $("#bubble_text").text("The above chart displays tags and words most frequently used by the current user in the selected date range.");
            });
        });

        function getActions(filteredActions, type) {
            return filteredActions.filter(function(item) {
                return item.type == type;
            });
        };

        function getActionCount(filteredActions, type) {
            return getActions(filteredActions, type).length;
        };

        function getUserActionCount(startDate, endDate, userSelected, actionTags) {
            if (userSelected == "allUsers") {
                var avgActionCount = Array.apply(null, new Array(actionTags.length)).map(Number.prototype.valueOf, 0);
                var userCount = 0.0;

                users.forEach(function(user) {
                    if (user.local.email) {
                        var filteredActions = user.local.actionData.filter(function(item) {
                            var itemDate = new Date(item.date);
                            return (startDate <= itemDate && itemDate <= endDate);
                        });
                        for (var i = 0; i < actionTags.length; i++) {
                            avgActionCount[i] += getActionCount(filteredActions, actionTags[i]);
                        }
                        userCount += 1.0;
                    }
                });

                return avgActionCount.map(function(total) {
                    return total / userCount;
                });
            } else {
                var user = users.filter(function(user) {
                    var email = user.local.email;
                    return email && (email == userSelected);
                })[0];

                var filteredActions = user.local.actionData.filter(function(item) {
                    var itemDate = new Date(item.date);
                    return (startDate <= itemDate && itemDate <= endDate);
                });

                return actionTags.map(function(tag) {
                    return getActionCount(filteredActions, tag);
                });
            }
        }

        function getUserName(userSelected) {
            if (userSelected == "allUsers") {
                return "Avg of all users";
            } else {
                return "User " + userSelected;
            }
        }

        function displayBarChart(csvData) {
            d3.selectAll("#bar_chart > *").remove();

            var margin = {top: 50, right: 20, bottom: 30, left: 130},
                width = 1000 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var barChart = d3.select("#bar_chart")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)

            var g = barChart.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var x0 = d3.scaleBand()
                .rangeRound([0, width])
                .paddingInner(0.1);

            var x1 = d3.scaleBand()
                .padding(0.05);

            var y = d3.scaleLinear()
                .rangeRound([height, 0]);

            var z = d3.scaleOrdinal()
                .range(["#6b486b", "#a05d56", "#98abc5", "#8a89a6", "#7b6888", "#d0743c", "#ff8c00"]);

            var data = d3.csvParse(csvData, function(d, i, columns) {
              for (var i = 1, n = columns.length; i < n; ++i) d[columns[i]] = +d[columns[i]];
              return d;
            });

            var keys = data.columns.slice(1);

            x0.domain(data.map(function(d) { return d.Action; }));
            x1.domain(keys).rangeRound([0, x0.bandwidth()]);
            y.domain([0, d3.max(data, function(d) { return d3.max(keys, function(key) { return d[key]; }); })]).nice();

            tip = d3.tip().attr('class', 'd3-tip').html(function(d) { return d["key"] + ", Value: " + d["value"]; });
            barChart.call(tip)

            g.append("g")
              .selectAll("g")
              .data(data)
              .enter().append("g")
                .attr("transform", function(d) { return "translate(" + x0(d.Action) + ",0)"; })
              .selectAll("rect")
              .data(function(d) { return keys.map(function(key) { return {key: key, value: d[key]}; }); })
              .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x1(d.key); })
                .attr("y", function(d) { return y(d.value); })
                .attr("width", x1.bandwidth())
                .attr("height", function(d) { return height - y(d.value); })
                .attr("fill", function(d) { return z(d.key); })
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);

            g.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x0))
                .attr("font-size", 12);

            g.append("g")
                .attr("class", "axis")
                .call(d3.axisLeft(y).ticks(null, "s"))
                .attr("font-size", 14)
              .append("text")
                .attr("x", 2)
                .attr("y", y(y.ticks().pop()) - 14)
                .attr("dy", "0.32em")
                .attr("fill", "#000")
                .attr("font-weight", "bold")
                .attr("font-size", 14)
                .attr("text-anchor", "end")
                .text("Action Count");

            var legend = g.append("g")
                .attr("font-family", "sans-serif")
                .attr("font-size", 14)
                .attr("text-anchor", "end")
              .selectAll("g")
              .data(keys.slice().reverse())
              .enter().append("g")
                .attr("transform", function(d, i) { return "translate(" + (i * - 150) + ", 0)"; });

            legend.append("rect")
                .attr("x", width)
                .attr("y", -19)
                .attr("width", 19)
                .attr("height", 19)
                .attr("fill", z);

            legend.append("text")
                .attr("x", width - 5)
                .attr("y", -10.5)
                .attr("dy", "0.32em")
                .text(function(d) { return d; });
        }

        function displayBubbleChart(csvData) {
            d3.selectAll("#bubble_chart > *").remove();

            var margin = {top: 30, right: 20, bottom: 30, left: 20},
                width = 1200 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var bubbleChart = d3.select("#bubble_chart")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .attr("font-family", "sans-serif")
                    .attr("font-size", 13)
                    .attr("text-anchor", "middle")

            var format = d3.format(",d");

            var color = d3.scaleOrdinal(d3.schemeCategory20c);

            var pack = d3.pack()
              .size([width, height])
              .padding(1.5);

            var classes = d3.csvParse(csvData, function(d) {
                d.value = +d.value;
                if (d.value) return d;
            });

            var root = d3.hierarchy({children: classes})
                .sum(function(d) { return d.value; })
                .each(function(d) {
                    if (id = d.data.id) {
                        var id, i = id.lastIndexOf(".");
                        d.id = id;
                        d.package = id.slice(0, i);
                        d.class = id.slice(i + 1);
                    }
                });

            var node = bubbleChart.selectAll(".node")
              .data(pack(root).leaves())
              .enter().append("g")
                .attr("class", "node")
                .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })

            tip = d3.tip().attr('class', 'd3-tip').html(function(d) { return "Occurances: " + d["value"]; });
            bubbleChart.call(tip)

            node.append("circle")
                .attr("class", "bubble")
                .attr("id", function(d) { return d.id; })
                .attr("r", function(d) { return d.r; })
                .attr("fill", function(d) { return color(d.package); })
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);

            node.append("clipPath")
                .attr("id", function(d) { return "clip-" + d.id; })
              .append("use")
                .attr("xlink:href", function(d) { return "#" + d.id; });

            node.append("text")
                .attr("clip-path", function(d) { return "url(#clip-" + d.id + ")"; })
              .selectAll("tspan")
              .data(function(d) { return d.class.split(/(?=[A-Z][^A-Z])/g); })
              .enter().append("tspan")
                .attr("x", 0)
                .attr("y", function(d, i, nodes) { return 13 + (i - nodes.length / 2 - 0.5) * 10; })
                .text(function(d) { return d; });
        }
    </script>

    <div class="well">
        <!-- <strong>Why do you decide to log these actions?</strong>
        <ol>
            <li>
                <strong>Questions Clicked</strong>:
                These could be used to identify the types of questions the user might be interested in.
            </li>
            <li>
                <strong>Tags Clicked</strong>:
                These can help us identify broader collections of questions / specific topics that the user might be interested in.
            </li>
            <li>
                <strong>Questions Starred / Un-starred</strong>:
                These can give us further and a much stronger indication of the user's interest in a paticular question / topic.
            </li>
            <li>
                <strong>Content Shared</strong>:
                The content shared by the user is another strong indicator of interest and could be used to suggest similar content.
            </li>
            <li>
                <strong>UpVotes and DownVotes</strong>:
                These can help us determine the user's activity levels and also the performance of the content presented on our site.
            </li>
            <li>
                <strong>Scrolling</strong>:
                This can help us analyze the user's behaviour by logging how long and how deep the user is scrolling.
            </li>
        </ol> -->
    </div>

</div>
</body>
</html>
